<template>
	<div class="wrapper">
		<div class="label" v-if="label">{{label}}</div>
		<div class="control-wrapper">
			<select v-model="valueInput" class="control" :class="{'placeholder': !valueInput}">
				<option value="" disabled :selected="!valueInput" v-if="placeholder">{{ placeholder }}</option>
				<option v-for="key in keys" :key="key + options[key]" :value="options[key]">
					<span>{{ key }}</span>
				</option>
			</select>
		</div>
	</div>	
</template>
<script lang="ts">
import { Component, Prop, Watch, Mixins } from 'vue-property-decorator';
import ComponentMixin from './shared/mixins/ComponentMixin.vue';

@Component
// @group DEFAULT INPUT COMPONENTS
// Dropdown input control.<br/>Extends <b>mixin</b> `ComponentMixin`.
export default class DropDown extends Mixins(ComponentMixin) {
	// Dictionary of label `:string` and value `:any`
	@Prop({type: Object}) private options!: {[key: string]: any};
	// Label displayed for dropdown
	@Prop({type: String}) private label!: string;
	// Place holder for dropdown
	@Prop({type: String}) private placeholder!: string;

	private get keys(): string[] {
		return Object.keys(this.options);
	}
}
</script>
<style lang="scss" scoped>
@import './assets/style.scss';

.control-wrapper{
	position: relative;
	&::after {
		content: '\1F893';
		display: inline-block;
		position: absolute;
		right: 6px;
    	top: 12px;
	}
}


.control {
	appearance: none;
	padding: 8px;
	padding-right: 18px;
    border-radius: 3px;
    border: 1px solid #ccc;
	background-color: #fff;

	& > option {
		color: #000;
	}

	&.placeholder {
		color: #777;

		& > option {
			color: #000;

			&:disabled {
				color: #777;
			}
		}
	}
}
</style>
