<template>
	<div class="wrapper">
		<div class="label" v-if="label">{{label}}</div>
		<input class="control" type="text" v-model="valueInput" :placeholder="placeholder" @blur="$emit('blur')" />
	</div>	
</template>
<script lang="ts">
import { Component, Prop, Watch, Mixins } from 'vue-property-decorator';
import ComponentMixin from './shared/mixins/ComponentMixin.vue';

@Component
// @group DEFAULT INPUT COMPONENTS
// Text input control.<br/>Extends <b>mixin</b> `ComponentMixin`.
export default class InputText extends Mixins(ComponentMixin) {
	// Placeholder for input text
	@Prop({type: String}) private placeholder!: string;
	// Label displayed for input text control
	@Prop({type: String}) private label!: string;
}
</script>
<style lang="scss" scoped>
@import './assets/style.scss';

.control {
	padding: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
</style>
