<template>
	<div class="wrapper">
		<div class="label" v-if="label">{{ label }}</div>
		<div v-for="key in keys" :key="key + options[key]" class="control">
			<input type="radio" v-model="valueInput" :value="options[key]" />
			<span>{{ key }}</span>
		</div>
	</div>	
</template>
<script lang="ts">
import { Component, Prop, Watch, Mixins } from 'vue-property-decorator';
import ComponentMixin from './shared/mixins/ComponentMixin.vue';

@Component
// @group DEFAULT INPUT COMPONENTS
// Radio group input control.<br/>Extends <b>mixin</b> `ComponentMixin`.
export default class InputRadio extends Mixins(ComponentMixin) {
	// Dictionary of label `:string` and value `:any`
	@Prop({type: Object}) private options!: {[key: string]: string};
	// Label displayed for radio button group control
	@Prop({type: String}) private label!: string;

	private get keys(): string[] {
		return Object.keys(this.options);
	}
}
</script>
<style lang="scss" scoped>
@import './assets/style.scss';

.control {
	font-size: 14px;
	position: relative;

	input[type=radio] {
		appearance: none;
		margin: 0;
		outline: none;
		transition: 100ms ease-out;

		&::after {
			content: '\1F785';
			display: inline-block;
			text-align: center;
			width: 23px;
			font-size: 16px;
			color: #777;
			height: 22px;
		}

		&:checked::after {
			content: '\1F789';
			font-weight: 900;
			color: #444;
		}
		&:active {
			transform: scale(.8);
		}

		+ span {
			position: absolute;
			top: 3px;
			margin-left: .1em;
		}
	}
}
</style>
