<template>
	<div class="stage-container accordion-wrapper">
		<!-- Provide `collapsible`s -->
		<slot></slot>
	</div>
</template>
<script lang="ts">
import { Vue, Component, Prop, Watch } from 'vue-property-decorator';
import Collapsible from './Collapsible.vue';
import { COLLAPSIBLE_NAME } from './shared/constants';
import { AccordionMode } from './shared/enums';

@Component({
	name: 'Accordion',
})
// Accordion controls a collection of `collapsible` components to have one actively open at a time.
// It also provides public methods like `open`, `next` and `previous` to manipulate the `collapsibles`.
export default class Accordion extends Vue {
	// `v-model` to store active `collapsible id`.
	@Prop(String) private value!: string;
	// Defines mode (`AccordionMode`) in which Accordion should operate.
	@Prop({
		/* `AccordionMode` */ type: Number,
		default: AccordionMode.EnableAll,
	})
	private mode!: AccordionMode;
	// Generates numbered collapsibles.
	@Prop({ type: Boolean, default: true }) private isNumbered!: boolean;
	// To start numbering with. Only considered when `isNumbered` is set true.
	@Prop({ type: Number, default: 1 }) private numberStartsWith!: number;
	private children: Collapsible[] = [];

	private get activeCollapsibleIndex(): number {
		return this.children.findIndex(
			(child: Collapsible) => child.collapsibleId === this.value,
		);
	}

	// @vuese
	/**
	 * Activates the `collapsible` which comes after the currently active one in order.
	 * <br/><b>Returns</b> collapsible id `:string` of the next `collapsible` (which is being activated).
	 * If current `collapsible` is the last one then `null` is returned.
	 */
	public next(): string | null {
		if (this.activeCollapsibleIndex === this.children.length - 1) {
			return null;
		}
		this.children[this.activeCollapsibleIndex + 1].open();
		this.inputEmit(
			this.children[this.activeCollapsibleIndex + 1].collapsibleId,
		);
		return this.children[this.activeCollapsibleIndex + 1].collapsibleId;
	}
	// @vuese
	/**
	 * Activates the `collapsible` which comes before the currently active one in order.
	 * <br/><b>Returns</b> collapsible id `:string` of the previous `collapsible` (which is being activated).
	 * If current `collapsible` is the first one then `null` is returned.
	 */
	public previous(): string | null {
		if (this.activeCollapsibleIndex === 0) {
			return null;
		}
		let index: number = this.activeCollapsibleIndex;
		if (index === -1) {
			index = 1;
		}
		this.children[--index].open();
		this.inputEmit(this.children[index].collapsibleId);
		return this.children[index].collapsibleId;
	}
	// @vuese
	/**
	 * Activates the `collapsible`, the id of which is passed as an argument.
	 * @arg <b>id</b>`:string` <br/>Collapsible id
	 */
	public open(id: string): void {
		const selectedChild: Collapsible | undefined = this.children.find(
			(child) => child.collapsibleId === id,
		);
		if (selectedChild && selectedChild.open()) {
			this.inputEmit(selectedChild.collapsibleId);
		}
	}

	private mounted(): void {
		// list all collapsible components for accordion
		for (const child of this.$children) {
			if (child.$options.name === COLLAPSIBLE_NAME) {
				const collapsible: Collapsible = child as Collapsible;
				this.children.push(collapsible);
			}
		}
		if (this.children.length) {
			// get index of active collapsible
			let index: number = this.activeCollapsibleIndex;
			if (index < 0) {
				index = 0;
			}

			for (let i: number = 0; i < this.children.length; i++) {
				// set collapsibles to open only
				this.children[i].openOnlyExternal = true;

				// set collapsibles enable/disable
				this.enableDisableCollapsibles(index, i, true);

				// set counter if enabled
				if (this.isNumbered) {
					this.children[i].counterExternal =
						i + this.numberStartsWith;
				}

				// add open listener to handle enable/disable of all collapsible children
				this.children[i].$on(
					'open',
					this.singleCollapsibleActiveHandler,
				);
			}
		}
	}

	private singleCollapsibleActiveHandler(id: string): void {
		// nextTick is used to execute this after any watchers
		this.$nextTick(() => {
			let index: number = this.children.findIndex(
				(child) => child.collapsibleId === id,
			);
			if (index < 0) {
				index = 0;
			}

			// let openIndex: number = -1;
			for (let i = 0; i < this.children.length; i++) {
				// set collapsibles to enable/disable state
				this.enableDisableCollapsibles(index, i);
			}
			this.inputEmit(id);
		});
	}

	private destroyed(): void {
		for (const child of this.children) {
			child.$off('open');
		}
	}

	@Watch('value')
	private onValueUpdate(newValue: string, oldValue: string): void {
		this.open(newValue);
	}

	private enableDisableCollapsibles(
		collapsibleTargetIndex: number,
		collapsibleIndex: number,
		isInInit: boolean = false,
	): void {
		// close all collapsibles except active
		if (collapsibleIndex === collapsibleTargetIndex) {
			if (isInInit) {
				this.children[collapsibleIndex].open(isInInit);
			}
		} else {
			this.children[collapsibleIndex].close(isInInit);
		}

		// set collapsibles to enable/disable state
		let isDisable: boolean = true;
		// Enable
		if (
			// if its the first collapsible
			collapsibleIndex === 0 ||
			// if mode is EnableAll
			this.mode === AccordionMode.EnableAll ||
			 // if mode is DisableUntilSubmit and current or previous collapsible is filled
			(this.mode === AccordionMode.DisableUntilSubmit &&
				(this.children[collapsibleIndex].isCollapsibleFilled ||
					this.children[collapsibleIndex - 1].isCollapsibleFilled)) ||
			// if mode is DisableFromOpen and index is less than active form
			(this.mode === AccordionMode.DisableFromOpen &&
				collapsibleIndex < collapsibleTargetIndex &&
				this.children[collapsibleIndex - 1].isCollapsibleFilled)
		) {
			isDisable = false;
		}
		this.children[collapsibleIndex].disabledExternal = isDisable;
	}

	private inputEmit(id: string): void {
		// `v-model` input event.
		// @arg `:string`<br/>Collapsible id of active collapsible
		this.$emit('input', id);
	}
}
</script>
