<template>
	<div
		class="stage-wrapper collapsible-wrapper"
		:class="{ 'expanded-card': !isCollapsed, filled: isCollapsibleFilled }"
	>
		<div class="stage-header cursor-pointer" @click="onHeaderClick();">
			<div class="stage-state">
				<!--
					Display collapsible `counter` number. `counter` available in slot properties
				-->
				<slot name="counter" v-bind:counter="counterFinal">
					<!-- `counter` property of collapsible -->
					<span v-if="counterFinal || counterFinal === 0">{{
						counterFinal
					}}</span>
				</slot>
			</div>
			<div class="stage-name">
				<!-- Collapsible header -->
				<slot name="header"></slot>
			</div>
		</div>
		<div class="stage-child" v-if="!isCollapsed">
			<!-- Content body of collapsible -->
			<slot></slot>
		</div>
	</div>
</template>
<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';
import { COLLAPSIBLE_NAME } from './shared/constants';

@Component({
	name: COLLAPSIBLE_NAME,
})
// Collapsible provides a container which can be expanded or collapsed.
// It also provides public methods like `open`, `close` and `toggle` to manipulate collapsible behaviour.
export default class Collapsible extends Vue {
	public openOnlyExternal: boolean = false;
	public disabledExternal: boolean = false;
	public counterExternal: number | null = null;
	// Unique identifier. *Required when using with* `accordion` *component*
	@Prop(String) private id!: string;
	// Sets initial state of collapsible to expanded if true.
	@Prop({ type: Boolean, default: false }) private openOnInit!: boolean;
	// Sets `filled` class to collapsible header if true.
	@Prop({ type: Boolean, default: false }) private isFilled!: boolean;
	// Collapsible will expand on click but not collapse when clicked again.
	// *Note: This only affects user click. Collapsible can still be expanded or collapsed programatically.*
	@Prop({ type: Boolean, default: false }) private openOnly!: boolean;
	// Disables collapsible, such that user clicks do not change the state of collapsible.
	// *Note: This only affects user click. Collapsible state can still be changed programatically.*
	@Prop({ type: Boolean, default: false }) private disabled!: boolean;
	// Sets a number to the collapsible
	@Prop(Number) private counter!: number;
	// This functions is run before collapsible expands.
	// Return `true` to expand and `false` to keep collapsible in collapsed state.
	@Prop(Function) private beforeOpen!: (id: string) => boolean;
	// This functions is run before collapsible collapses.
	// Return `true` to collapse and `false` to keep collapsible in expanded state.
	@Prop(Function) private beforeClose!: (id: string) => boolean;

	private isCollapsed: boolean = true;

	// @vuese
	/**
	 *  `getter`<br/><b>Returns</b> true `:boolean` if collapsible is expanded
	 */
	public get isCollapsibleOpen(): boolean {
		return !this.isCollapsed;
	}
	// @vuese
	/**
	 *  `getter`<br/><b>Returns</b> true `:boolean` if collapsible is collapsed
	 */
	public get isCollapsibleClosed(): boolean {
		return this.isCollapsed;
	}
	// @vuese
	/**
	 *  `getter`<br/><b>Returns</b> collapsible id `:string`
	 */
	public get collapsibleId(): string {
		return this.id;
	}
	// @vuese
	/**
	 *  `getter`<br/><b>Returns</b> true `:boolean` if collapsible is filled
	 */
	public get isCollapsibleFilled(): boolean {
		return this.isFilled;
	}

	// openOnly handler
	private get openOnlyFinal(): boolean {
		return this.openOnly || this.openOnlyExternal;
	}
	// disabled handler
	private get disableFinal(): boolean {
		return this.disabled || this.disabledExternal;
	}
	// counter handler
	private get counterFinal(): number | undefined | null {
		if (this.counter || this.counter === 0) {
			return this.counter;
		}
		return this.counterExternal;
	}

	// @vuese
	/**
	 * Expands `collapsible` and then emits `open` event
	 * @arg <b>forceOpen</b>`:boolean` <br/>Pass `true` to surpass checks (`beforeOpen`) and expand the collapsible.
	 */
	public open(forceOpen: boolean = false): boolean {
		if (!forceOpen && this.beforeOpen && !this.beforeOpen(this.id)) {
			return false;
		}
		this.isCollapsed = false;
		// Fired when collapsible expands
		// @arg `:string`<br/>collapsible id
		this.$emit('open', this.id);
		return true;
	}
	// @vuese
	/**
	 * Collapses `collapsible` and then emits `close` event
	 * @arg <b>forceClose</b>`:boolean` <br/>Pass `true` to surpass checks (`beforeClose`) and collapse the collapsible.
	 */
	public close(forceClose: boolean = false): boolean {
		if (!forceClose && this.beforeClose && !this.beforeClose(this.id)) {
			return false;
		}
		this.isCollapsed = true;
		// Fired when collapsible collapses
		// @arg `:string`<br/>collapsible id
		this.$emit('close', this.id);
		return true;
	}
	// @vuese
	/**
	 * Toggles the state of collapsible between `open` and `close`
	 */
	public toggle(): void {
		if (this.isCollapsibleOpen) {
			this.close();
		} else {
			this.open();
		}
	}

	private created(): void {
		this.isCollapsed = !this.openOnInit;
	}
	private onHeaderClick(): void {
		if (this.disableFinal) {
			return;
		}
		if (this.openOnlyFinal) {
			this.open();
		} else {
			this.toggle();
		}
	}
}
</script>
