<template>
	<div class="form-builder-accordion">
		<accordion v-model="activeFormId" :mode="AccordionMode.DisableFromOpen">
			<template v-for="(form, index) in forms">
				<collapsible
					v-if="!form.formHidden"
					:key="form.formId + index"
					:id="form.formId"
					:isFilled="form.formIsSubmitted"
					@open="onCollapsibleStepClick(form.formId, index, canNavigate(index, form.formHidden))"
					:beforeOpen="beforeOpen"
					:beforeClose="beforeClose">

					<!-- Header label slot -->
					<template slot="header">
						<!--
							Display step label. index `:number`, forms `:IForm[]`, form `:IForm`, canNavigate `:boolean` and data `:any` available in slot properties.
						-->
						<slot
							name="stepLabel"
							v-bind:form="form"
							v-bind:index="index"
							v-bind:canNavigate="canNavigate(index, form.formHidden)"
							v-bind:data="data"
							v-bind:forms="forms">
							{{ form.formName }}
						</slot>
					</template>
					<!-- Counter slot -->
					<template slot="counter" slot-scope="slotProps">
						<slot
							name="stepNumber"
							v-bind:counter="slotProps.counter"
							v-bind:index="index"
							v-bind:form="form"
							v-bind:canNavigate="canNavigate(index, form.formHidden)"
							v-bind:data="data"
							v-bind:forms="forms">
							<div v-if="slotProps.counter || slotProps.counter === 0">{{ slotProps.counter }}</div>
						</slot>
					</template>

					<!-- Form Renderer -->
					<form-renderer
						:ref="formRendererRef"
						:activeForm="activeForm"
						:data="data"
						:typeMap="typeMap"
						:showUpdateButton="showUpdateButton"
						:isUpdateButtonVisible="isUpdateButtonVisible"
						@submit="onSubmit"
						@update="onUpdateAndReview">

						<template slot="formHeader" slot-scope="slotProps">
							<!--
								Display form header (title and description). Form object activeForm `:IForm` and data `:any` available in slot properties
							-->
							<slot
								name="formHeader"
								v-bind:activeForm="slotProps.activeForm"
								v-bind:data="slotProps.data">
							</slot>
						</template>
						<template slot="sectionHeader" slot-scope="slotProps">
							<!--
								Display section header (heading and description). Form object activeForm `:IForm`, section `:IFormSection` and data `:any` available in slot properties
							-->
							<slot
								name="sectionHeader"
								v-bind:activeForm="slotProps.activeForm"
								v-bind:section="slotProps.section"
								v-bind:data="slotProps.data">
							</slot>
						</template>

						<template slot="updateButtonContent">
							<!--
								Display text of "Update and review" button. Form object activeForm `:IForm`, forms `:IForm[]` and data `:any` available in slot properties
							-->
							<slot
							name="updateButtonContent"
							v-bind:activeForm="activeForm"
							v-bind:activeFormIndex="activeFormIndex"
							v-bind:data="data"
							v-bind:forms="forms"
							>Update & Review</slot>
						</template>
						<template slot="submitButtonContent">
							<!--
								Display text of submit button. Form object activeForm `:IForm`, forms `:IForm[]` and data `:any` available in slot properties
							-->
							<slot
								name="submitButtonContent"
								v-bind:activeForm="activeForm"
								v-bind:activeFormIndex="activeFormIndex"
								v-bind:data="data"
								v-bind:forms="forms"
							>
								{{
								activeForm.formCTA ||
								'Save & ' +
								(activeFormIndex >= lastVisibleFormIndex
								? 'Review'
								: 'Continue')
								}}
							</slot>
						</template>
						<template slot="formButtons" slot-scope="slotProps">
							<!-- Replace default submit and update buttons with your own implementation -->
							<slot
								name="formButtons"
								v-bind:activeForm="slotProps.activeForm"
								v-bind:showUpdateAndSkip="slotProps.showUpdateAndSkip"
								v-bind:data="slotProps.data"
								v-bind:forms="forms"
							></slot>
						</template>
					</form-renderer>
				</collapsible>
			</template>
		</accordion>
	</div>
</template>
<script lang="ts">
import { Component, Prop, Mixins } from 'vue-property-decorator';
import { IStepClickEvent } from './shared/interfaces';
import Accordion from './Accordion.vue';
import Collapsible from './Collapsible.vue';
import { AccordionMode } from './shared/enums';
import FormBuilderMixin from './FormBuilderMixin.vue';
import { canNavigate } from './shared/utils';

@Component({
	components: {
		accordion: Accordion,
		collapsible: Collapsible,
	},
})
// Encapsulates `FormRenderer` and generates forms inside `Accordion` and `Collapsibles`.
// It also exposes <b>slots</b> provided by `FormRenderer` and `FormStepCounter`.
// <br/>Extends <b>mixin</b> `FormBuilderMixin`.
export default class FormBuilderAccordion extends Mixins(FormBuilderMixin) {
	// `beforeOpen` function used by `Collapsible`
	@Prop(Function) private beforeOpen!: (id: string) => boolean;
	// `beforeClose` function used by `Collapsible`
	@Prop(Function) private beforeClose!: (id: string) => boolean;
	private AccordionMode: typeof AccordionMode = AccordionMode;

	// @vuese
	/**
	 * Fetches the reference element of form field. <i>overrides `getFieldRef` from mixin.</i>
	 * <br/><b>Returns</b> reference element or `null` if fieldId does not exist.
	 * @arg <b>fieldId</b>`:string`<br/>Field id specified in the form json.
	 */
	public getFieldRef(fieldId: string): any {
		const ref: any = this.$refs[this.formRendererRef];
		if (ref && ref.length) {
			return ref[0].getFieldRef(fieldId);
		}
		return null;
	}

	private onCollapsibleStepClick(
		formId: string,
		index: number,
		navigate: boolean,
	): void {
		// Fired when a `Collapsible` is clicked
		// @arg `:IStepClickEvent`<br/>Form properties of the form being clicked
		this.$emit('stepClick', {
			formId,
			formIndex: index,
			canNavigate: navigate,
		} as IStepClickEvent);
	}

	private canNavigate(index: number, isFormHidden: boolean): boolean {
		return canNavigate(index, this.activeFormIndex, isFormHidden);
	}
}
</script>
