<template>
	<div class="form-builder-wrapper">
		<!-- Step counter -->
		<form-step-counter :forms="forms" :data="data" :activeFormId="value" @stepClick="onStepClick($event);">
			<template slot="stepNumber" slot-scope="slotProps">
				<!--
					Display step number. index `:number`, forms `:IForm[]`, form `:IForm`, canNavigate `:boolean` and data `:any` available in slot properties.
				-->
				<slot
					name="stepNumber"
					v-bind:index="slotProps.index"
					v-bind:counter="slotProps.index + 1"
					v-bind:form="slotProps.form"
					v-bind:canNavigate="slotProps.canNavigate"
					v-bind:data="slotProps.data"
					v-bind:forms="slotProps.forms">
					{{ slotProps.index + 1 }}
				</slot>
			</template>
			<template slot="stepLabel" slot-scope="slotProps">
				<!--
					Display step label. index `:number`, forms `:IForm[]`, form `:IForm`, canNavigate `:boolean` and data `:any` available in slot properties.
				-->
				<slot
					name="stepLabel"
					v-bind:index="slotProps.index"
					v-bind:form="slotProps.form"
					v-bind:canNavigate="slotProps.canNavigate"
					v-bind:data="slotProps.data"
					v-bind:forms="slotProps.forms">
					{{ slotProps.form.formName }}
				</slot>
			</template>
		</form-step-counter>
		<!-- Form -->
		<form-renderer
			:ref="formRendererRef"
			:activeForm="activeForm"
			:data="data"
			:typeMap="typeMap"
			:showUpdateButton="showUpdateButton"
			:isUpdateButtonVisible="isUpdateButtonVisible"
			@submit="onSubmit"
			@update="onUpdateAndReview">

			<template slot="formHeader" slot-scope="slotProps">
				<!--
					Display form header (title and description). Form object activeForm `:IForm` and data `:any` available in slot properties
				-->
				<slot
					name="formHeader"
					v-bind:activeForm="slotProps.activeForm"
					v-bind:data="slotProps.data">
				</slot>
			</template>
			<template slot="sectionHeader" slot-scope="slotProps">
				<!--
					Display section header (heading and description). Form object activeForm `:IForm`, section `:IFormSection` and data `:any` available in slot properties
				-->
				<slot
					name="sectionHeader"
					v-bind:activeForm="slotProps.activeForm"
					v-bind:section="slotProps.section"
					v-bind:data="slotProps.data">
				</slot>
			</template>

			<template slot="updateButtonContent">
				<!--
					Display text of "Update and review" button. Form object activeForm `:IForm`, forms `:IForm[]` and data `:any` available in slot properties
				-->
				<slot
					name="updateButtonContent"
					v-bind:activeForm="activeForm"
					v-bind:activeFormIndex="activeFormIndex"
					v-bind:data="data"
					v-bind:forms="forms"
				>
					Update & Review
				</slot>
			</template>
			<template slot="submitButtonContent">
				<!--
					Display text of submit button. Form object activeForm `:IForm`, forms `:IForm[]` and data `:any` available in slot properties
				-->
				<slot
					name="submitButtonContent"
					v-bind:activeForm="activeForm"
					v-bind:activeFormIndex="activeFormIndex"
					v-bind:data="data"
					v-bind:forms="forms"
				>
					{{
					activeForm.formCTA ||
					'Save & ' +
					(activeFormIndex >= lastVisibleFormIndex
					? 'Review'
					: 'Continue')
					}}
				</slot>
			</template>
			<template slot="formButtons" slot-scope="slotProps">
				<!-- Replace default submit and update buttons with your own implementation -->
				<slot
					name="formButtons"
					v-bind:activeForm="slotProps.activeForm"
					v-bind:showUpdateAndSkip="slotProps.showUpdateAndSkip"
					v-bind:data="slotProps.data"
					v-bind:forms="forms"
				></slot>
			</template>
		</form-renderer>
		<!-- Navigation keys -->
		<div v-if="showNavigation">
			<button
				class="quotes-side-btn side-previous"
				v-if="isPreviousVisible"
				@click="goToPreviousForm"
			></button>
		</div>
	</div>
</template>
<script lang="ts">
import { Component, Prop, Mixins } from 'vue-property-decorator';
import { IStepClickEvent, INavigateClickEvent, IForm } from './shared/interfaces';
import FormStepCounter from './FormStepCounter.vue';
import FormBuilderMixin from './FormBuilderMixin.vue';

@Component({
	components: {
		'form-step-counter': FormStepCounter,
	},
})
// Encapsulates the `FormRenderer` and `FormStepCounter`, and exposes their <b>slots</b>.
// <br/>Extends <b>mixin</b> `FormBuilderMixin`.
export default class FormBuilder extends Mixins(FormBuilderMixin) {
	// Shows previous navigation button on the form, if true.
	@Prop({ type: Boolean, default: false }) private showNavigation!: boolean;

	private goToPreviousForm(): void {
		// Fired when `previous` navigation button is clicked
		// @arg `:INavigateClickEvent`<br/>Form properties of the previous form
		const previousIndex: number = this.previousFormIndex(this.activeFormIndex);
		if (previousIndex > -1 && previousIndex < this.activeFormIndex) {
			this.$emit('previousFormClick', {
				formId: this.forms[previousIndex].formId,
				formIndex: previousIndex,
			} as INavigateClickEvent);
		}
	}
	private get isPreviousVisible(): boolean {
		return this.firstVisibleFormIndex > -1 && this.activeFormIndex > this.firstVisibleFormIndex;
	}

	private onStepClick(event: IStepClickEvent): void {
		// Fired when a step on the `FormStepCounter` is clicked
		// @arg `:IStepClickEvent`<br/>Form properties of the form clicked on
		this.$emit('stepClick', event);
	}
}
</script>
