<template>
	<div v-if="activeForm" class="form-renderer-wrapper" :id="activeForm.formId" :class="[activeForm.formId]">
		<!--
			Display form header (title and description). Form object activeForm `:IForm` and data `:any` available in slot properties
		-->
		<slot
			name="formHeader"
			v-bind:activeForm="activeForm"
			v-bind:data="data">
			<h3
				v-if="activeForm.formTitle"
				class="form-title"
				:class="{'has-description': activeForm.formDescription}"
				v-html="activeForm.formTitle"
			></h3>
			<h5 v-if="activeForm.formDescription" class="title-description" v-html="activeForm.formDescription"></h5>
		</slot>
		<!-- sections -->
		<template v-for="section in activeForm.formSections">
			<div :key="section.sectionId" :id="section.sectionId" class="form-section" :class="[section.sectionId]" v-if="!section.sectionHidden">
				<div class="section-header" v-if="section.sectionHeading || section.sectionDescription">
					<!--
						Display section header (heading and description). Form object activeForm `:IForm`, section `:IFormSection` and data `:any` available in slot properties
					-->
					<slot
						name="sectionHeader"
						v-bind:activeForm="activeForm"
						v-bind:section="section"
						v-bind:data="data">
						<div
							v-if="section.sectionHeading"
							class="section-heading"
							:class="{'has-description': section.sectionDescription}"
						>
							<span v-html="section.sectionHeading"></span>
						</div>
						<span
							v-if="section.sectionDescription"
							class="section-description"
							v-html="section.sectionDescription"
						></span>
					</slot>
				</div>
				<!-- fields -->
				<div v-for="field in section.sectionFields" :key="field.fieldId" class="form-field"
					:class="[field.fieldId, field.fieldType]">
					<component
						v-if="typeMap[field.fieldType] && !field.fieldHidden"
						:is="field.fieldObject.componentName"
						v-bind="field.fieldObject"
						v-model="data[field.fieldId]"
						:ref="field.fieldId"
						v-on="field.fieldObject.events"
					/>
				</div>
			</div>
		</template>
		<div class="formButtons">
			<!--
				Replace default submit and update buttons with your own implementation. Form object activeForm `:IForm`, showUpdateAndSkip `:boolean` and data `:any` available in slot properties.<br/><i>Note: showUpdateAndSkip will be true when all forms are submitted and active form is not the last form</i>
			-->
			<slot
				name="formButtons"
				v-bind:activeForm="activeForm"
				v-bind:showUpdateAndSkip="isUpdateButtonVisible"
				v-bind:data="data"
			>
				<button
					v-if="showUpdateButton && isUpdateButtonVisible"
					:class="'btn update-btn ' + 'form-' + activeForm.formId"
					@click="onUpdateAndReview"
				>
					<!--
						Display text of "Update and review" button. Form object activeForm `:IForm` and data `:any` available in slot properties
					-->
					<slot name="updateButtonContent" v-bind:activeForm="activeForm" v-bind:data="data">
						<!-- `Update & Review` -->
						Update & Review
					</slot>
				</button>
				<!-- Submit -->
				<button
					:class="'btn submit-btn ' + 'form-' + activeForm.formId"
					:disabled="
						activeForm.formCTAIsDisabled &&
							activeForm.formCTAIsDisabled(activeForm)
					"
					@click="onSubmit"
				>
					<!--
						Display text of submit button. Form object activeForm `:IForm` and data `:any` available in slot properties
					-->
					<slot name="submitButtonContent" v-bind:activeForm="activeForm" v-bind:data="data">
						<!-- `Save & Continue` -->
						Save & Continue
					</slot>
				</button>
			</slot>
		</div>
	</div>
</template>
<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';
import { IForm, IFormFieldTypeConstructor } from './shared/interfaces';
import { TYPE_MAP } from './shared/constants';

@Component
// Renders the form with it's fields
export default class FormRenderer extends Vue {
	// Dictionary of field id and data
	// tslint:disable:arrow-return-shorthand
	@Prop({
		type: Object,
		default: (): { [key: string]: any } => {
			return {};
		},
	})
	private data!: { [key: string]: any };
	// Form object `:IForm` to be rendered
	@Prop({ type: Object, required: true }) private activeForm!: IForm;
	// Dictionary of input type names `:string` and classes `:IFormFieldTypeConstructor`
	// to represent input components.
	// <br/><i><small>Note: Classes must implement `:IFormFieldType` and have props and events
	// required by the input component they represent.</small></i>
	@Prop({ type: Object, default: () => TYPE_MAP }) private typeMap!: {
		[key: string]: IFormFieldTypeConstructor;
	};
	// Displays an "Update and review" button on steps (except the last step), once all the forms are submitted.
	@Prop(Boolean) private showUpdateButton!: boolean;
	// Hides/Shows "Update and review" button. Works only when used with `showUpdateButton` set to true.
	@Prop(Boolean) private isUpdateButtonVisible!: boolean;

	// @vuese
	/**
	 * Fetches the reference element of form field.
	 * <br/><b>Returns</b> reference element or `null` if fieldId does not exist.
	 * @arg <b>fieldId</b>`:string`<br/>Field id specified in the form json.
	 */
	public getFieldRef(fieldId: string): any {
		return this.$refs[fieldId];
	}

	private onUpdateAndReview(): void {
		// Fired when form "Update and review" button is clicked.
		// @arg `:IForm`<br/>Currently active form
		this.$emit('update');
	}
	private onSubmit(): void {
		// Fired when form submit button is clicked
		this.$emit('submit');
	}
}
</script>
