<template>
	<div id="app">
		<form-builder
			ref="formBuilder"
			v-if="forms.length"
			v-model="activeFormId"
			class="form-body"
			:id="FORM_BUILDER_ID"
			:forms="forms"
			:data="data"
			:typeMap="typeMap"
			:showNavigation="true"
			:showUpdateButton="true"
			@submit="onSubmit"
			@update="onUpdate($event);"
			@stepClick="onStepClick($event);"
			@previousFormClick="onNavigate($event);"
		></form-builder>
		<!-- <form-builder-accordion
			ref="formBuilder"
			v-if="forms.length"
			v-model="activeFormId"
			class="form-body"
			:id="FORM_BUILDER_ID"
			:forms="forms"
			:data="data"
			:typeMap="typeMap"
			:showNavigation="true"
			:showUpdateButton="true"
			@submit="onSubmit"
			@update="onUpdate($event);"
			@stepClick="onStepClick($event);"
			@previousFormClick="onNavigate($event);"
		></form-builder-accordion> -->
		<form-review :id="FORM_BUILDER_ID" :forms="forms" :data="data"></form-review>
	</div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import FormBuilder from '../form-builder/FormBuilder.vue';
import FormBuilderAccordion from '../form-builder/FormBuilderAccordion.vue';
import FormReview from '../form-builder/FormReview.vue';
import {
	INavigateClickEvent,
	IStepClickEvent,
	IFormFieldType,
	IFormFieldTypeConstructor,
	IFormEventArgs,
} from '../form-builder/shared/interfaces';
import {
	getTypeObject,
	formEvent,
	reviewFieldFormatter,
	reviewSectionFormatter,
	formEventOfType,
	formEventForAll,
	reviewFieldFormatterOfType,
	reviewFieldFormatterForAll,
	reviewSectionFormatterForAll,
	reviewFormFormatter,
	reviewFormFormatterForAll,
} from '../form-builder/shared/utils';
import { FORM_BUILDER_ID } from './shared/constants';
import {
	IFormFieldCustom,
	IFormCustom,
	IFormSectionCustom,
} from './shared/interfaces';
import {
	InputTextType,
	InputRadioType,
	DropDownType,
	InputCheckboxType,
	InputTextareaType,
} from '../form-builder/components/shared/type';
import { InputControlTypes } from '../form-builder/components/shared/enums';

@Component({
	components: {
		'form-builder': FormBuilder,
		'form-builder-accordion': FormBuilderAccordion,
		'form-review': FormReview,
	},
})
export default class App extends Vue {
	private activeFormId: string = '';
	private FORM_BUILDER_ID: string = FORM_BUILDER_ID;
	private forms: IFormCustom[] = [];
	private data: { [key: string]: any } = {};
	private typeMap: { [key: string]: IFormFieldTypeConstructor } = {
		text: InputTextType,
		radio: InputRadioType,
		dropdown: DropDownType,
		checkbox: InputCheckboxType,
		textarea: InputTextareaType,
	};
	private created(): void {
		Vue.axios.get('/shared/forms-data.json').then((response) => {
			this.forms = response.data;
			// required only if default/pre-filled values are to be set
			this.forms.forEach((form: IFormCustom) => {
				form.formSections.forEach((section: IFormSectionCustom) => {
					section.sectionFields.forEach((field: IFormFieldCustom) => {
						this.data[field.fieldId] = field.fieldValue;
					});
				});
			});

			// Dummy data
			this.data = {
				fullName: 'Sumit Samar Man',
				gender: 'Male',
				city: 'Mumbai',
				hobbies: ['Swimming', 'Drawing'],
			};
		});
	}
	private onSubmit(): void {
		const activeIndex: number = this.forms.findIndex(
			(form: IFormCustom) => form.formId === this.activeFormId,
		);
		this.forms[activeIndex].formIsSubmitted = true;
		// find the next form
		const nextFormIndex: number = this.forms.findIndex(
			(form: IFormCustom, index: number) => index > activeIndex && !form.formHidden,
		);
		if (nextFormIndex > -1) {
			this.activeFormId = this.forms[nextFormIndex].formId;
		}
		// if (activeIndex < this.forms.length - 1) {
		// 	this.activeFormId = this.forms[activeIndex + 1].formId;
		// }
	}
	private onNavigate(event: INavigateClickEvent): void {
		this.activeFormId = event.formId;
	}
	private onStepClick(event: IStepClickEvent): void {
		if (event.canNavigate) {
			this.activeFormId = event.formId;
		}
	}
	private onUpdate(form: IFormCustom): void {
		const reverseForms: IFormCustom[] = [...this.forms].reverse();
		const lastVisibleIndex: number = reverseForms.findIndex((formItem: IFormCustom) => !formItem.formHidden);
		if (lastVisibleIndex > -1) {
			this.activeFormId = this.forms[Math.abs(lastVisibleIndex - (this.forms.length - 1))].formId;
		}
	}

	// list of fields
	@formEvent(FORM_BUILDER_ID, ['fullName', 'mobile'], 'input', 'only on fullName and mobile')
	@formEvent(FORM_BUILDER_ID, ['address'], 'blur')
	// by type
	// @formEventOfType(FORM_BUILDER_ID, [InputControlTypes.Text, InputControlTypes.Textarea], 'input', ['mobile'])
	// apply to all
	// @formEventForAll(FORM_BUILDER_ID, 'input', ['address'])
	private onInput(formEventArgs: IFormEventArgs, value: string) {
		// tslint:disable-next-line
		console.log('field called upon: ', formEventArgs.field);
		// tslint:disable-next-line
		console.log('data passed: ', formEventArgs.data);
		// tslint:disable-next-line
		console.log('Value entered: ', value);
	}

	@reviewFieldFormatter(FORM_BUILDER_ID, ['fullName'])
	// apply to all
	// @reviewFieldFormatterForAll(FORM_BUILDER_ID, ['mobile'])
	private nameFormatter(param: any, fieldValue: any, field: IFormFieldCustom): string {
		return '<big><b>' + fieldValue + '</b></big>';
	}

	@reviewFieldFormatterForAll(FORM_BUILDER_ID, [])
	private fieldFormatter(param: any, fieldValue: any, field: IFormFieldCustom): string {
		return '<small>' + field.label + '</small>' + ': ' + fieldValue;
	}

	// list of fields
	// @reviewFieldFormatter(FORM_BUILDER_ID, ['tenure', 'experience'])
	// by type
	@reviewFieldFormatterOfType(FORM_BUILDER_ID, [InputControlTypes.Dropdown], [])
	private tenureFormatter(param: any, fieldValue: any, field: IFormFieldCustom): string {
		for (const key of Object.keys(field.options)) {
			if (field.options[key] === fieldValue) {
				return key;
			}
		}
		return fieldValue;
	}

	// list of sections
	@reviewSectionFormatter(FORM_BUILDER_ID, ['sectionBasic', 'sectionGoal'])
	// apply to all
	// @reviewSectionFormatterForAll(FORM_BUILDER_ID, ['sectionBasic'])
	private sectionFormatter(param: any, section: IFormSectionCustom): string {
		return section.sectionId;
	}

	// list of forms
	@reviewFormFormatter(FORM_BUILDER_ID, ['form2'])
	// apply to all
	// @reviewFormFormatterForAll(FORM_BUILDER_ID, ['form1'])
	private formFormatter(param: any, form: IFormCustom): string {
		return 'Form: ' + form.formName;
	}
}
</script>

<style lang="scss">
@import 'form-builder/assets/style.scss';
#app {
	font-family: "Avenir", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #2c3e50;
	margin-top: 60px;
}
.form-body {
	width: 80%;
	margin: 0 auto;
}
</style>
